.recents_container{
    background-color: rgb(231, 230, 230);
    padding: 2% ;
    margin-top: 10%;
    border-radius: 5%;
    text-align: left;
    border: 1px solid lightgray;
    box-shadow: 8px 8px 15px #020202;

}

.recents_title{
    font-size: 100%;
    margin-left: 0%;
}

.recents_tags_container{
    margin-left: 2%;
    text-align: left;

}
.recents_tags_containe>p{
    font-size: 40%;

}

@media (max-width:650px){
    .recents_container{
        width: 22vw;
       
        
    }
    .recents_tags_container{
        font-size: 12px;
    }
}

@media(max-width:900px) and (min-width:650px){

    .recents_container{
        width: 20vw;
       
        
    }

    .recents_tags_container{
        font-size: 12px;
    }
}
