.recents_container{
    background-color: rgb(231, 230, 230);
    padding: 2% ;
    margin-top: 5%;
    border-radius: 5%;
    text-align: left;
    border: 1px solid lightgray;
}

.recents_title{
    font-size: 100%;
    margin-left: 0%;
}

.recents_tags_container{
    margin-left: 2%;
    text-align: left;

}
.recents_tags_containe>p{
    font-size: 40%;

}
