.feed_container {
    width: 50%;
    margin: 0 30px;
    justify-content: center;
}

.feed_add {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(231, 230, 230);
    border: 1px solid lightgray;
    border-radius: 12px;
}

.feed_add_input {
    display: flex;
    align-items: center;
    
    padding-top: 20px;
    border-radius: 12px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 230, 230);
    padding-bottom:2px;
}

.feed_add_input>input {
    height: 45px;
    width: 70%;
    border-radius: 30px;
    border: none;
    border: 1px solid lightgray;
    padding: 0 20px;
    margin-right: 20px;
    margin-bottom: 3%;
}

.feed_add_input>button{
    border: none;
    background-color:#0047ab;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    border-radius: 2px;
}


.feed_add_photo {
    border: none;
    background-color:white;
    font-size: 16px;
    cursor: pointer;
    color:#0047ab ;
    font-weight: 600;
}

.feed_add_photo {
    margin: 20px 0;
    background-color: rgb(231, 230, 230);
}

