.form-container {
    background-color: #F7F7F7;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(./logo-blue.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(20, 17, 64);
    background: radial-gradient(circle, rgba(20, 17, 64, 1) 0%, rgba(18, 18, 138, 1) 19%, rgba(27, 119, 183, 1) 100%);
    opacity: 1;
    box-shadow: 0 0 100px black;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    width: 25vw;
    height: 55vh;
    box-shadow: 0 0 3px rgb(118, 115, 115);
    min-width: 300px;
    margin: 0;
    border: 2px solid;
    border-radius: 20px;
}

.form-seg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-top: 20px;
}

.form-seg label {
    font-size: larger;
    color: #0047ab;
}

.form-seg input {
    border: 1px solid #6162638d;
    padding: 1px 5px;
    border-radius: 2px;
    width: 60%;
}

.submit-btn {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    margin-top: 5%;
    border-radius: 5px;
    color: white;
    background-color: #0047ab;
}

em:hover {
    color: #0047ab;
    cursor: pointer;
}

.form h1 {
    text-decoration: none;
    font-weight: 1000;
    color: #0047ab;
}

.regi-btn {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    color: #0047ab;
    background-color: white;
}


@media (max-width : 1250px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: white;
        width: 50vw;
        height: 60vh;
        box-shadow: 0 0 3px rgb(118, 115, 115);
        min-width: 300px;
        margin: 0;
        border: 2px solid;
        border-radius: 20px;
    }

    .form-seg label {
        font-size: 15px;
        color: #0047ab;
    }
    .form-seg input {
        border: 1px solid #6162638d;
        padding: 1px 5px;
        border-radius: 2px;
        width: 40%;
    }

    .regi-btn {
        font-size: 15px;
        margin-top: 5%;
    }

    .submit-btn {
        font-size: 15px;
    }

    .form h1 {
        font-weight: 800;
    }
}

/* @media (max-width : 500px){
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: white;
        width: 50vw;
        height: 60vh;
        box-shadow: 0 0 3px rgb(118, 115, 115);
        min-width: 300px;
        margin: 0;
        border: 2px solid;
        border-radius: 20px;
    }

    .form-seg label {
        font-size: 10px;
        color: #0047ab;
    }

    .regi-btn {
        font-size: 15px;
        margin-top: 5%;
    }

    .submit-btn {
        font-size: 15px;
    }

    .form h1 {
        font-weight: 800;
    }
} */