.user_details_container {
    width: 100%;
    border-radius: 4%;
    background-color: rgb(231, 230, 230);
    box-shadow: 8px 8px 15px #020202;
    border: 1px solid lightgray;
    height: 20%;
    /* rgb(231, 230, 230) */
}

.user_details_background_image>img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}

.user_details_div {
    padding: 0 6px;
    margin-top: 2px;
    z-index: 10;
    text-align: center;
}

.user_details_div>p {
    font-size: 14px;
    color: gray;
    font-weight: 600;
}

.user_details_div_title {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.user_details_stats {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}

.user_details_stats>p {
    font-size: 14px;
    color: gray;
    font-weight: 600;
    
}

.user_details_stats_highlight {
    color: #0047ab;
}


@media(max-width:650px){


.user_details_container {
    width: 22vw;
}

.user_details_div>p {
    font-size: 12px;
    color: gray;
    font-weight: 600;
}

}

@media(max-width:900px) and (min-width:650px){
    .user_details_container{
        
        width: 20vw;
    }
}


@media(max-width:550px){


    .user_details_container {
        display: none;
    }
    
    }