.form-container2 {
    background-color: #F7F7F7;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./logo.png');
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(20,17,64);
background: radial-gradient(circle, rgba(20,17,64,1) 0%, rgba(18,18,138,1) 0%, rgba(27,119,183,1) 100%);
   
    
}

.form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    width: 25vw;
    /* height: 60vh; */
    box-shadow: 0 0 3px rgb(118, 115, 115);
    min-width: 300px;
    margin: 0;
    border-radius: 20px;
}

.form2-seg2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-top: 20px;
}

.form2-seg2 label {
    font-size: larger;
    color: #0047ab;
}

.form2-seg2 input {
    border: 1px solid #6162638d;
    padding: 4px 8px;
    border-radius: 2px;
}
.form2-seg2 select {
    border: 1px solid #6162638d;
    padding: 4px 8px;
    border-radius: 2px;
    margin-right: 27%;
}

.submit-btn2 {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    margin-top: 5%;
    border-radius: 5px;
    color: white;
    background-color: #0047ab;
}

em:hover {
    color: #0047ab;
    cursor: pointer;
}

.form2 h1 {
    text-decoration: none;
    font-weight: 1000;
    color: #0047ab;
}

.login-bt{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    color: #0047ab;
    background-color: white;
}

@media (max-width : 450px) {

    .form2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: white;
        width: 40vw;
        /* height: 60vh; */
        box-shadow: 0 0 3px rgb(118, 115, 115);
        min-width: 300px;
        margin: 0;
        border-radius: 20px;
    }

    .form2-seg2 label {
        font-size: 15px;
        color: #0047ab;
    }
    .form2-seg2 input {
        border: 1px solid #6162638d;
        padding: 1px 5px;
        border-radius: 2px;
        width: 35vw;
    }
/* 
    .login-btn2 {
        font-size: 15px;
        margin-top: 5%;
    } */

    .submit-btn2 {
        font-size: 15px;
    }

    .form2 h1 {
        font-weight: 800;
    }
    .form2-seg2 select {
        border: 1px solid #6162638d;
        padding: 4px 8px;
        border-radius: 2px;
        margin-right: 13vw;
    }
}


