.container{
    text-align: left;
    
}
.title{
    margin-top: 4%;
    margin-left: 15%;
    font-size: 35px;
}
.about_para{
    margin-top: 2%;
    margin-left:15%;
    background-color: white;
    width:70%;
    

    
}

.about_para>p{
    text-align: left;
    font-size: 3vh;
    padding-top: 25px;

}
.go_home_bt{
    border: none;
    background-color: white;
    margin-left: 15%;
    margin-top: 4%;
    font-size: 22px;
    color:rgb(107, 107, 218);
    cursor:pointer;
}